body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header, .marketing, .footer {
    padding-right: 15px;
    padding-left: 15px;
}
.header {
    padding-bottom: 20px;
}
.header .nav {
    float: none;
    display: table;
    margin: auto;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    text-align: center;
    float: none;
}
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow> hr {
    margin: 30px 0;
}
.banner {
    max-width: 100%;
    border-radius: 4px;
}
.marketing {
    margin-top: 40px;
    margin-bottom: 40px;
}
.marketing p+ h4 {
    margin-top: 28px;
}
.product {
    margin-bottom: 20px;
}
.product .photo {
    position: relative;
}
.product .photo img {
    border-radius: 4px;
    width: 100%;
}
.product .photo h4 {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
}
.product .label {
    background-color: rgba(0, 0, 0, 0.80);
}
.product .info {
    padding: 5px 0;
}
.product .info h4 {
    text-align: center;
    color: #0a64b1;
    font-size: 17px;
}
.page-title {
    margin-top: 0;
}
.thumbnails {
    display: none;
}
.img-thumbnail.active {
  margin-bottom: 15px;
}
.cart {
    margin-top: 15px;
    padding: 25px 0;
    border-top: 1px solid #ddd;
    text-align: center;
}
.cart .form-control {
    display: inline-block;
    width: 50px;
    margin-right: 15px;
}
.btn-back {
  display: block;
  margin-bottom: 20px;
}
.breadcrumb {
  display: none;
}
.admin h4 {
  line-height: 30px;
  margin: 0;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 30px;
        border-bottom: 1px solid #e5e5e5;
    }
    .marketing .product {
        margin-bottom: 0;
    }
    .thumbnails {
        display: block;;
    }
}
@media screen and (min-width: 450px) {
    .header h3 {
        text-align: left;
        float: left;
    }
    .header .nav {
        float: right;
    }
    .breadcrumb {
        display: block;
    }
    .btn-back {
        display: none;
    }
    .cart {
      text-align: right;
    }
}
